.DS_Store
node_modules
.vagrant
.idea
.vscode
target
*.ignore
/.envrc
/tmp/
app/web/cypress/screenshots/
app/web/cypress/videos/

.turbo
.netlify

# vim temp files
.*.swp
.*.swo
.vim

.env.local
# Local Netlify folder
.netlify
